### Práctica de Acceso a bases de datos

Considerar la gestión de la información de una librería. Para ello se utilizará una base de datos con las siguientes tablas:

Tabla Compradores:

Columna | Tipo | Nulos | Defectos | Clave-Pri | Únicos
-- | --
registro| INT(4)| No|  | Sí | Sí
nombre| VARCHAR(35)| No|  ' '|  | Sí
fecha_nacimiento| DATE| No|000-00-00  |  | 
teléfono| VARCHAR(10)| Sí| NULL |  | 
domicilio| VARCHAR(35)| Sí|NULL  |  | 
población| VARCHAR(25)| Sí|NULL  |  | 
anotaciones| TEXT| | |  | 

Tabla Libros:

Columna | Tipo | Nulos | Defectos | Clave-Pri | Únicos
-- | --
registro| INT(4)| No|  | Sí | Sí
título| VARCHAR(35)| No|  ' '|  | Sí
escritor| VARCHAR(35)| No|  ' '|  | 
editorial | VARCHAR(20)| No|  ' '|  | 
soporte| VARCHAR(35)| No|  'Libro '|  | 
fecha_entrada| DATE| No|NULL |  | 
país| VARCHAR(20)| No| 0000-00-00 |  |Sí
importe| DECIMAL(8,2)| No|0.0  |  | 
anotaciones| BLOB| | |  | 

Tabla Compras:

Columna | Tipo | Nulos | Defectos | Clave-Pri | Únicos
-- | --
registro| INT(4)| No|  | Sí | Sí
id_comprador| INT(4)| No|  ' '|  | 
id_libro| INT(4)| No|  ' '|  | 


En esta tabla se asocian mediante los campos registro de la tabla libros y la tabla compradores en los campos id_libro y id_comprador respectivamente, las compras que se han realizado los clientes. 

Se pide:
1.  Crear un programa en Python que genere utilizando SQLite una base de datos denominada “Libreria”  y 3 tablas: compradores, libros y compras[1,5 puntos].
2.  Crear un programa en Python que rellene las tablas anteriores con los siguientes datos [1 punto]:
Registros de la tabla Compradores

registro| nombre | fecha_nacimiento | teléfono | domicilio | población |anotaciones
-- | --
1 | Juan Miedo | 1955-10-23 | 608900890 | La isla del tesoro,33 | Getafe | Buen comprador
2 | Pepe Pepino | 1961-12-13 | 607899005 | Plaza Mayor,56 | Pozuelo |
3 | Peper Mur | 1976-04-02 | 917895679 | Esparteros, 5 | Getafe | 
4 | Mohamed Alí | 1968-11-12 | 609440567 | Juan sin miedo,4 | Pozuelo | Le gusta la ciencia ficción
5 | Alfredo Mesa | 1986-08-17| 690890456 | Gran vía,56 | Getafe | Le gustan los ensayos
6 | Pedro Reyes | 1957-08-25 | 917890056| Plaza de España, 34 | Pozuelo | Le gusta la historia
7 | Isabel Olvido | 1977-07-20 | 915678900 | Principal,3 | Getafe | Le gusta la novela de amor
8 | Mariano Calcetines | 1996-11-09 | 634567876 | Aviación,34 | Getafe | 
9 | María Calero | 1984-11-08 | 645666900 | Río Ebro,4 | Las rozas |


Registros de la tabla Libros

registro| título | escritor | editorial | soporte | fecha_entrada| país | importe|anotaciones
-- | --
1 | El Quijote | Miguel de Cervantes | Alianza | Libro| 1988-06-11| España| 12| NULL
2 | Marina | Carlos Ruíz Zafón | Edebé | CD| 1988-06-11| España| 18.95| NULL
3 | La hoguera de las vanidades | Tom Wolfe | RBA editores | DVD| 1988-06-11| USA| 22.25| NULL
4 | Los pilares de la Tierra | Ken Follet| Faber | Libro| 1988-06-11| USA| 12.95| NULL
5 | Otelo | William Shakespeare | Anaya | Libro| 1988-06-11| Inglaterra| 14.95| NULL
6 | Rimas y Leyendas | Gustavo Adolfo Becquer | Roca | Libro| 1988-06-11| España| 25.95| NULL
7 | Poesía | Juan Ramón Jiménez | P&J | Libro| 1988-06-11| España| 10.95| NULL

Registros de la tabla Compras

registro| id_comprador | id_libro
--|--
1 | 9| 7
2 | 9| 3
3 | 8| 2
4 | 7| 1
5 | 8| 1
6 | 1| 1
7 | 7| 1
8 | 6| 2
9 | 3| 5
10 | 3| 1
11 | 3| 2

3.Crear un programa en Python que resuelva las siguientes consultas SQL [7,5 puntos]. Se debe mostrar por pantalla el resultado de cada consulta:
 
   * Obtener los países y el número de libros vendidos agrupados por país y ordenados de manera descendente respecto al total de ventas.

   * Obtener el nombre de los compradores que han comprado al menos un libro y número de libros comprados, ordenados decrecientemente por el número total de libros comprados.

   * Obtener la media de lo que han gastado todos los compradores y la suma total de todas las ventas realizadas.

   * Obtener el nombre, teléfono y anotaciones de las filas de la tabla Compradores dónde el nombre del comprador empieza con la letra “M”.

   * Actualizar la tabla Libros, cambiando el soporte de los registros 6 y 7 a “DVD”.

   * Borrar los libros que no se han vendido nunca.

#### Normas de entrega

* Fecha tope de entrega: 10/11/2017
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.

In [1]:
# Crear un programa en Python que genere utilizando SQLite una base de datos denominada “Libreria” y 3 tablas: compradores, libros y compras[1,5 puntos].

#compradores, libros y compras
import sqlite3
def crearTablas():
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    cur.execute("DROP TABLE IF EXISTS compradores")
    cur.execute("DROP TABLE IF EXISTS libros")
    cur.execute("DROP TABLE IF EXISTS compras")
    cur.execute("CREATE TABLE compradores(registro INT(4) NOT NULL PRIMARY KEY, nombre VARCHAR(35) NOT NULL UNIQUE, fecha_nacimiento DATE NOT NULL default (000-00-00), telefono VARCHAR(10) default NULL,domicilio VARCHAR(35) default NULL,poblacion VARCHAR(25) default NULL,anotacion TEXT)")
    cur.execute("CREATE TABLE libros(registro INT(4) NOT NULL PRIMARY KEY, titulo VARCHAR(35) NOT NULL UNIQUE, escritor VARCHAR(35) NOT NULL,editorial VARCHAR(35) NOT NULL, soporte VARCHAR(35) NOT NULL default Libro, fecha_entrada DATE NOT NULL default NULL,pais VARCHAR(20) NOT NULL default(0000-00-00),importe DECIMAL(8,2) NOT NULL default 0.0,anotacion BLOB)")
    cur.execute("CREATE TABLE compras (registro INT(4) NOT NULL PRIMARY KEY, id_comprador NT(4) NOT NULL, id_libro INT(4) NOT NULL)")
    cur.close()
    conn.commit()

# Crear un programa en Python que rellene las tablas anteriores con los siguientes datos [1 punto]
def rellenaTablas():
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("1" ,"Juan Miedo" ,"1955-10-23", "608900890", "La isla del tesoro,33" ,"Getafe", "Buen comprador "))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("2","Pepe Pepino","1961-12-13","607899005"," Plaza Mayor,56","Pozuelo"," "))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("3", "Peper Mur", "1976-04-02", "917895679", "Esparteros, 5", "Getafe"," " ))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("4", "Mohamed Alí", "1968-11-12" ,"609440567", "Juan sin miedo,4" ,"Pozuelo", "Le gusta la ciencia ficción"  ))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("5" ,"Alfredo Mesa" ,"1986-08-17"," 690890456" ,"Gran vía,56" ,"Getafe", "Le gustan los ensayos"  ))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("6", "Pedro Reyes", "1957-08-25", "917890056" ,"Plaza de España, 34" ,"Pozuelo", "Le gusta la historia"  ))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("7", "Isabel Olvido", "1977-07-20", "915678900", "Principal,3", "Getafe" ,"Le gusta la novela de amor"   ))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("8", "Mariano Calcetines", "1996-11-09", "634567876", "Aviación,34", "Getafe"," "   ))
    cur.execute("INSERT INTO compradores (registro, nombre, fecha_nacimiento, telefono,domicilio, poblacion,anotacion) VALUES (?,?,?,?,?,?,?)",("9", "María Calero", "1984-11-08", "645666900" ,"Río Ebro,4", "Las rozas"," "   ))
   

    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("1" ,"El Quijote", "Miguel de Cervantes", "Alianza","Libro" ,"1988-06-11", "España", "12","NULL" ))
    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("2", "Marina", "Carlos Ruíz Zafón", "Edebé" ,"CD" ,"1988-06-11", "España", "18.95", "NULL"  ))
    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("3", "La hoguera de las vanidades", "Tom Wolfe", "RBA editores", "DVD", "1988-06-11", "USA", "22.25", "NULL"  ))
    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("4", "Los pilares de la Tierra", "Ken Follet" ,"Faber", "Libro", "1988-06-11", "USA", "12.95", "NULL" ))
    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("5" ,"Otelo", "William Shakespeare" ,"Anaya", "Libro" ,"1988-06-11", "Inglaterra", "14.95", "NULL"  ))
    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("6" ,"Rimas y Leyendas", "Gustavo Adolfo Becquer", "Roca", "Libro" ,"1988-06-11" ,"España", "25.95", "NULL"  ))
    cur.execute("INSERT INTO libros (registro, titulo, escritor, editorial,soporte, fecha_entrada,pais,importe,anotacion) VALUES (?,?,?,?,?,?,?,?,?)",("7", "Poesía", "Juan Ramón Jiménez", "P&J", "Libro", "1988-06-11", "España", "10.95", "NULL"))
    
    
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("1","9","7" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("2", "9" ,"3"))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("3","8","2" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("4", "7","1" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("5", "8", "1" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("6", "1", "1" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("7", "7", "1" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("8", "6","2" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("9", "3", "5" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("10", "3", "1" ))
    cur.execute("INSERT INTO compras (registro, id_comprador, id_libro) VALUES (?,?,?)",("11", "3", "2" ))
    
    cur.close()
    conn.commit()
    
crearTablas()
rellenaTablas()

In [2]:
# Obtener los países y el número de libros vendidos agrupados por país y ordenados de manera descendente respecto al total de ventas.

def ObtenPaisYNumLibrosVent():
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    cur.execute("SELECT * FROM libros")
    pais = [rec[6] for rec in cur.fetchall()]
    cur.execute("SELECT * FROM compras")
    compras = [rec[2] for rec in cur.fetchall()]
    i = 0
    ventas = []
    suma = 0
    #se guardan los datos en ventas(desordenados)
    while i < len(pais) :
        j = 0
        suma = 0
        while j < len(compras):
            if (compras[j]-1) == i:
                suma += 1
            j+= 1
        ventas += [[pais[i], suma]]
        i+=1
    paises = []
    mayor = 0
    pos = 0
    i = 0
    #rellena paises
    while i < len(ventas):
        nombrePais = ventas[i][0]
        x = 0
        encontrado = False
        while x < len(paises) and encontrado == False:
            if paises[x][0] == nombrePais :
                encontrado = True
            x+=1
        if encontrado == True:
            i+=1
        else:
            j=0
            suma = 0
            while j < len(ventas):
                if nombrePais == ventas[j][0]:
                    suma += ventas[j][1]
                j+=1
            paises += [[nombrePais,suma]]
            i+=1
                  
    
    mayor = 0
    pos = 0
    i = 0
    #se ordena paises
    while i < len(paises):
        j=0
        mayor = 0
        while j< len(paises):
            if paises[j][1] >= mayor:
                pos = j
                mayor = paises[j][1]
            j+=1
        print(str(paises[pos][0]) + ": " + str(paises[pos][1]))
        paises[pos][1] = -1
        i+=1
        
ObtenPaisYNumLibrosVent()

España: 9
Inglaterra: 1
USA: 1

In [3]:
# Crear un programa en Python que resuelva las siguientes consultas SQL [7,5 puntos].
# Se debe mostrar por pantalla el resultado de cada consulta:

# Obtener el nombre de los compradores que han comprado al menos un libro y número de libros comprados,
# ordenados decrecientemente por el número total de libros comprados.
def ObtenCompradoresYNumlibros():
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    cur.execute("SELECT * FROM compradores")
    NombreComprador = [rec[1] for rec in cur.fetchall()]
    cur.execute("SELECT * FROM compras")
    idComprador = [rec[1] for rec in cur.fetchall()]
    i = 0
    suma = 0
    CompradorYCompras=[]
    #rellenamos el comprador con su numero de compras
    while i < len(NombreComprador):
        j = 0
        suma =0
        while j < len(idComprador):
            if (idComprador[j]-1) == i:
                suma +=1            
            j+=1
        
        CompradorYCompras+=[[NombreComprador[i],suma]]
        i+=1
    
    pos = 0
    i = 0
    #se odena CompradorYCompras y se quitan los que no compran
    while i < len(CompradorYCompras):
        j=0
        mayor = 0
        pos = 0
        while j < len(CompradorYCompras):
            if CompradorYCompras[j][1] >= mayor:
                mayor = CompradorYCompras[j][1]
                pos = j
            j+=1
        if  CompradorYCompras[pos][1] > 0 :
            print(str(CompradorYCompras[pos][0]) + ": " + str(CompradorYCompras[pos][1]))
            CompradorYCompras[pos][1] = 0
        
        i+=1
        
        
ObtenCompradoresYNumlibros()

Peper Mur: 3
María Calero: 2
Mariano Calcetines: 2
Isabel Olvido: 2
Pedro Reyes: 1
Juan Miedo: 1

In [4]:
# Obtener la media de lo que han gastado todos los compradores y la suma total de todas las ventas realizadas.
def obtenMediaySuma():
    
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    cur.execute("SELECT * FROM compras")
    compras = [comp[2] for comp in cur.fetchall()]
    cur.execute("SELECT * FROM libros")
    libros = [lib[7] for lib in cur.fetchall()] # Contamos con una tabla de libros ordenada respecto al ID del libro
    suma = 0
    for elem in compras:
        suma = suma + libros[elem-1]
    
    cur.execute("SELECT * FROM compradores")
    compradores = [comp[0] for comp in cur.fetchall()]
    
    media = suma / len(compradores)
    media = round(media, 2)
    suma = round(suma, 2)
    # Había dos formas de interpretar este apartado, a la hora de contar los compradores, ya que se podía interpretar como
    # que solo contásemos los compradores cuyo ID aparece en la tabla compras, o bien los compradores totales de la tabla compradores
    # hemos optado por la segunda opción ya que el enunciado  habla de todos los compradores, por tanto contamos con todos los de
    # la tabla compradores
    
    print("La media de lo gastado por los compradores es " + str(media) + "€\n")
    print("La suma total de las ventas asciende a " + str(suma) + "€")
    
obtenMediaySuma()

La media de lo gastado por los compradores es 18.33€

La suma total de las ventas asciende a 165.0€

In [5]:
# Obtener el nombre, teléfono y anotaciones de las filas de la tabla Compradores dónde el nombre del comprador empieza con la letra “M”.
def muestraCompradoresM():
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    cur.execute("SELECT * FROM compradores")
    compradores = [(comp[1], comp[3], comp[6]) for comp in cur.fetchall()]
        
    for elem in compradores:
        nombre = elem[0]
        if nombre[0] == "M":
            telef = elem[1]
            anotac = elem[2]
            print("Nombre: " + nombre + ", teléfono: " + telef + ", anotaciones: " + anotac)
            # Si no tiene anotaciones, hemos optado por que se muestre en blanco en vez de ocultar el apartado de anotaciones
            # para que así se vea que no las tiene realmente
        
muestraCompradoresM()

Nombre: Mohamed Alí, teléfono: 609440567, anotaciones: Le gusta la ciencia ficción
Nombre: Mariano Calcetines, teléfono: 634567876, anotaciones:
Nombre: María Calero, teléfono: 645666900, anotaciones:

In [6]:
# Actualizar la tabla Libros, cambiando el soporte de los registros 6 y 7 a “DVD”.

def actualizaLibros():
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    
    cur.execute('UPDATE libros set soporte=? WHERE registro=?',["DVD",6])
    cur.execute('UPDATE libros set soporte=? WHERE registro=?',["DVD",7])
    
    cur.execute("SELECT * FROM libros")
    libros = [(comp[0], comp[4]) for comp in cur.fetchall()]
    
    print(libros)
    
    conn.commit()

actualizaLibros()

[(1, 'Libro'), (2, 'CD'), (3, 'DVD'), (4, 'Libro'), (5, 'Libro'), (6, 'DVD'), (7, 'DVD')]

In [7]:
# Borrar los libros que no se han vendido nunca.
def borraNoVendidos():
    
    conn=sqlite3.connect("Libreria.sqlite3")
    cur = conn.cursor()
    
    cur.execute("SELECT * FROM compras")
    compras = [comp[2] for comp in cur.fetchall()]
    
    dicc = dict()
    for elem in compras:
        dicc[elem] = True
    
    cur.execute("SELECT * FROM libros")
    libros = [lib[0] for lib in cur.fetchall()]
    
    for elem in libros:
        if elem in dicc:
            continue
        else:
            cur.execute('DELETE FROM libros WHERE registro=?',[elem])
            
    cur.execute("SELECT * FROM libros")
    libros = [comp[1] for comp in cur.fetchall()] # Según la tabla dada se deberían borrar el registro 4 y 6 de libros
    
    print(libros)
    
    
    conn.commit()
    
    
borraNoVendidos()

['El Quijote', 'Marina', 'La hoguera de las vanidades', 'Otelo', 'Poesía']